<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加报警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			报警是在任一个仪表盘图像面板的<strong>报警页<strong>添加和配置的，以便使用已存在的查询创建并可视化报警
			<br> <br>
			请记得保存仪表盘以防报警规则丢失。
			<br>
			<br>
		</p>
	</div>

</div>

