<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>统计项</th>
				<th>总数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>仪表盘</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>用户</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>活跃用户 (最近14天登录过的)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>机构</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>数据源</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>播放列表</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>快照</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>仪表盘标签</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>标记过的仪表盘</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>报警</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
